<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>User List</title>
</head>
<body style="padding: 1rem;">
  

    <h1>User List</h1>

    <div style="padding: 2rem;">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">City</th>
                <th scope="col">Postcode</th>
              </tr>
            </thead>
            <tbody>
            <% for(var i=0; i<listOfUsers.length; i++) { %>
              <tr>
                <th scope="row">
                    <div  style="display: inline-block">
                        <img src=<%= "/images/"+listOfUsers[i].image%> width="50px">
                    </div>
                    <p style="display: inline-block; margin-left: 1rem;">
                        <%=listOfUsers[i].fullName%>
                    </p>
                </th>
                <td> <%=listOfUsers[i].email%></td>
                <td> <%=listOfUsers[i].phoneNumber%></td>
                <td> <%=listOfUsers[i].city%></td>
                <td>  <%=listOfUsers[i].zipCode%></td>
                <td>
                    <select name="cars" id="cars">
                        <option value="volvo"><a>Delete</a></option>
                        <option value="saab"><a>Edit</a></option>
                      </select>
                </td>
              </tr>
            <%}%>  
            </tbody>
          </table>
    </div>
</body>
</html>